html {
  --color-black: #000000;
  --color-gray: #444444;
  --color-gray-light: #cccccc;
  --color-gray-lightest: #eeeeee;

  --color-brand: #fff200;
  --color-border: var(--color-gray-light);
  --color-background: var(--color-gray-lightest);

  --font-sans: 'Work Sans', sans-serif;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-heavy: 800;
}

body {
  color: var(--color-gray);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-regular);
}


/* Layout */



/* Type */



/* Other */

